html, body {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Pontano Sans', serif;
}

body {
	background: #eee;
}

section {
	padding: 1em 0;
	position: relative;
}

#add-hourse {
	position: fixed;
	bottom: 1em;
	right: 1em;
	font-size: 2em;
	background: red;
	vertical-align: middle;
	color: #eee;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20),
		0 1px 5px 0 rgba(0,0,0,0.18),
		0 3px 1px -2px rgba(0,0,0,0.25);

	border-radius: 40px;
	border: none;
	width: 56px;
	height: 56px;
}

.hourse:first-child {
	border-top: 1px solid #909090;
}

.hourse {
	padding: 1em 1em 1em 1em;
	border-bottom: 1px solid #909090;
	position: relative;
}

.hourse img.logo {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.hourse .days-ago {
	position: absolute;
	top: 0.25em;
	right: 0.5em;
	font-size: 0.9em;
	color: #aaa;
}

.hourse header {
	font-weight: bold;
}

.hourse .text-container {
	padding-left: 1em;
}

.hourse a {
	color: #778d9f;
	font-weight: bold;
}

p {
	margin: 0;
	padding: 0;
}

@media(min-width:640px){
	#add-hourse {
		bottom: 2em;
		right: 2em;
	}
}