html, body {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Pontano Sans', serif;
}

body {
	background: #eee;
}

section {
	padding: 1em 0;
}

.hourse {
	padding: 1em 1em 1em 1em;
	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090;
	position: relative;
}

.hourse img.logo {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.hourse .days-ago {
	position: absolute;
	top: 0.25em;
	right: 0.5em;
	font-size: 0.9em;
	color: #aaa;
}

.hourse header {
	font-weight: bold;
}

.hourse .text-container {
	padding-left: 1em;
}

.hourse a {
	color: #778d9f;
	font-weight: bold;
}

p {
	margin: 0;
	padding: 0;
}
